### Script purpose.

This script generates user dictionaries for Python package _jieba_.
Part-of-speech tag is using file `POS_tag.md`

Cleaning data fields.
- Strip whitespaces.
- Skip null values, e.g., "[未詳]", str(s)!="None".
- Normalize text from full-width to half-width.
- Split string containing multiple values (use of reexp intead of split).

TODO:

- [X] - Wrap the data cleaning procedures into function.
- [] - Unify the data cleaning in all sections.
- [] - Test on 全宋文墓誌铭.

In [1]:
import sqlite3
import pandas as pd
import re
import itertools as it
import unicodedata

In [77]:
# Init with sqlite file.
sqlite_file='../data_raw/sqlite_20180302.db'
conn = sqlite3.connect(sqlite_file)

# value_clean(string, sep_char=',')
def value_clean(string, sep_char=','):
    if str(string)!="[未詳]" and str(string)!='' and str(string)!='None' and str(string)!='nan':
        string=''.join(string.split())
        string=unicodedata.normalize('NFKC', string)
        return re.findall(r"[\w]+", string)
    else:
        return 'NA'

### People Names.

In [71]:
# Read tables.
df_biog_main=pd.read_sql_query("SELECT * FROM BIOG_MAIN", conn)
df_altname_data=pd.read_sql_query("SELECT * FROM ALTNAME_DATA", conn)

print(len(set(df_altname_data['c_alt_name_chn'])), 
      len(set(df_biog_main['c_name_chn'])), 
      len(set(df_altname_data['c_alt_name_chn']))+len(set(df_biog_main['c_name_chn'])))

71614 321207 392821

In [26]:
# Merge ang tag the dict.
df_name=pd.DataFrame(pd.Series(list(set(df_biog_main['c_name_chn']))), columns=['name'])
df_name['pos']='nr'
df_name['name']=[re.sub(r'\(.+', '', s) for s in df_name['name']]

# Save to file.
df_name.to_csv('../data_build/cn_traditional_jieba/nr_nra_dict_CBDB.txt', 
               sep=' ', index=False, header=False)

### Address.

In [45]:
# Read tables.
# Merge data.
addresses_set=set(''.join(s.split()) for s in pd.read_sql_query("SELECT * FROM ADDRESSES", conn)['c_name_chn'] if str(s)!='None' and str(s)!='[未詳]' and str(s)!='')
place_codes_set=set(''.join(s.split()) for s in pd.read_sql_query("SELECT * FROM PLACE_CODES", conn)['c_name_chn'] if str(s)!='None' and str(s)!='[未詳]' and str(s)!='')
ns_set=place_codes_set.union(addresses_set)
print(len(addresses_set), len(place_codes_set), len(ns_set))

9773 2491 9793

In [47]:
pd.DataFrame([[s, 'ns'] for s in ns_set], 
             columns=['name', 'pos']).to_csv('../data_build/cn_traditional_jieba/ns_dict_CBDB.txt', 
                                             sep=' ', index=False, header=False)

#### Song addresses.

In [136]:
df_song_addr=pd.read_sql_query("SELECT * FROM ADDRESSES", conn)
df_song_addr=df[(df.belongs1_Name=='宋朝')|(df.belongs2_Name=='宋朝')|(df.belongs3_Name=='宋朝')|(df.belongs4_Name=='宋朝')|(df.belongs5_Name=='宋朝')]
df_song_addr['pos']='ns'

/tikal/ji/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [156]:
df_song_addr=df_song_addr[['c_name_chn', 'pos']].drop_duplicates() # Drop duplicates.
# Handle order effect while matching. See notes in qsw_sent_comp script.
df_song_addr.index=df_song_addr['c_name_chn'].str.len()
df_song_addr=df_song_addr.sort_index(ascending=False).reset_index(drop=True)

In [157]:
df_song_addr.to_csv('../data_build/cn_traditional_jieba/song_ns_dict.csv', sep='\t', index=False, header=False)

### Office Title.

In [158]:
# Read tables.
df_office_codes=pd.read_sql_query("SELECT * FROM OFFICE_CODES", conn)
df_office_categories=pd.read_sql_query("SELECT * FROM OFFICE_CATEGORIES", conn)

In [114]:
# Clean data.
office_set=set([s for s in df_office_codes['c_office_chn']])
office_alt_list=[]
for office_alt in df_office_codes['c_office_chn_alt']:
    if office_alt!=None and str(office_alt)!='':
        office_alt_list+=office_alt.split(';')
office_set=office_set.union(set([s for s in office_alt_list if s!='']))
office_cata_set=set(s for s in df_office_categories['c_category_desc_chn'])

In [115]:
# Merge ang tag the dict.
df_no_noc=pd.DataFrame([[s, 'no'] for s in office_set]+[[s, 'noc'] for s in office_cata_set],
                      columns=['name', 'pos'])
# Save to file.
df_no_noc.to_csv('../data_build/cn_traditional_jieba/no_noc_dict_CBDB.txt', 
                  sep=' ', index=False, header=False)

#### Song office titles.

In [160]:
df_office_codes_song=df_office_codes[df_office_codes['c_dy']==15]
df_office_codes_song.sample(3)

,tts_sysno,c_office_id,c_dy,c_office_pinyin,c_office_chn,c_office_pinyin_alt,c_office_chn_alt,c_office_trans,c_office_trans_alt,c_source,c_pages,c_notes,c_category_1,c_category_2,c_category_3,c_category_4,c_office_id_old
4145,4146.0,4703,15,tai fu si di er an,太府寺第二案,None,None,None,None,NaN,None,None,機構,太府寺門,None,None,0.0
5451,5452.0,6010,15,tai shang huang hou,太上皇后,None,None,None,None,NaN,None,None,None,None,None,None,0.0
4379,4380.0,4937,15,xi jing liu shou si yu shi tai,西京留守司御史臺,liu tai;xi jing liu tai;xi du liu tai;xi jing ...,留臺;西京留臺;西都留臺;西京留司御史臺;外臺,None,None,NaN,None,None,機構,御史臺門,None,None,0.0

In [181]:
song_no_set=set(it.chain(*df_office_codes_song['c_office_chn'].apply(value_clean).values)).union(set(it.chain(*df_office_codes_song['c_office_chn_alt'].apply(value_clean).values)))

In [188]:
df_song_no=pd.DataFrame(sorted([(s, len(s), 'no') for s in song_no_set if s!='NA'], key=lambda x:x[1], reverse=True),
                        columns=['name', 'len', 'pos']
                       ).drop('len', axis=1)

In [189]:
df_song_no.to_csv('../data_build/cn_traditional_jieba/song_no_dict.csv', 
                  sep='\t', index=False, header=False)

### Time.

In [24]:
# Read tables.
#df_dyna=pd.read_sql_query("SELECT * FROM DYNASTIES", conn)
df_reign=pd.read_sql_query("SELECT * FROM NIAN_HAO", conn)

In [25]:
# Get data.
dynasty_set=set(df_reign['c_dynasty_chn'])
reign_set=set(df_reign['c_nianhao_chn'])

In [26]:
# Merge ang tag the dict.
df_td_tr=pd.DataFrame([[s, 'td'] for s in dynasty_set]+[[s, 'tr'] for s in reign_set],
                      columns=['name', 'pos'])
# Save to file.
df_td_tr.to_csv('../data_build/cn_traditional_jieba/td_tr_dict_CBDB.txt', 
                  sep=' ', index=False, header=False)

### Kinship title.

In [45]:
# Read tables.
df_kin=pd.read_sql_query("SELECT * FROM KINSHIP_CODES", conn)

In [46]:
# Get and clean data.
kin_list=[''.join(s.split()) for s in set(it.chain(*[s.split(';') for s in df_kin['c_kinrel_chn'] if s!=None]))]

In [47]:
# Merge ang tag the dict.
df_nk=pd.DataFrame([(s, 'nk') for s in kin_list], columns=['name', 'pos'])

In [49]:
# Save to file.
df_nk.to_csv('../data_build/cn_traditional_jieba/nk_dict_CBDB.txt', 
             sep=' ', index=False, header=False)

### Institution names.

In [82]:
# Read tables.
inst_nm_set=set(it.chain(*[value_clean(s) for s in 
                           pd.read_sql_query("SELECT * FROM SOCIAL_INSTITUTION_NAME_CODES", conn)['c_inst_name_hz']]))

In [83]:
# Clean data and save to dict file.
pd.DataFrame([[s, 'nt'] for s in inst_nm_set], 
             columns=['name', 'pos']).to_csv('../data_build/cn_traditional_jieba/nt_dict_CBDB.txt',
                                             sep=' ', index=False, header=False)

### TESTING AREA.

In [40]:
pd.read_sql_query("SELECT * FROM FOREIGNKEYS", conn)

,AccessTblNm,AccessFldNm,ForeignKey,ForeignKeyBaseField,FKString,FKName,skip,IndexOnField,DataFormat,NULL_allowed
0,ADDR_BELONGS_DATA,c_addr_id,ADDR_CODES,c_addr_id,c_addr_id,ADDR_BELONGS_ADDR_ID,1,Primary Key,Long,0
1,ADDR_BELONGS_DATA,c_belongs_to,ADDR_CODES,c_addr_id,c_addr_id,ADDR_BELONGS_BELONG_ID,0,Primary Key,Long,0
2,ADDR_BELONGS_DATA,c_source,TEXT_CODES,c_textid,c_textid,ADDR_BELONGS_TEXT_CODE,0,None,Long,1
3,altname_data,c_alt_name_type_code,ALTNAME_CODES,c_name_type_code,c_name_type_code,ALTNAME_DATA_ALTNAME_CODES,1,Primary Key,Integer,0
4,altname_data,c_personid,BIOG_MAIN,c_personid,c_personid,ALTNAME_DATA_PERSON_ID,1,Primary Key,Long,0
5,altname_data,c_source,TEXT_CODES,c_textid,c_textid,ALTNAME_DATA_TEXT_CODE,1,None,Long,1
6,ASSOC_CODE_TYPE_REL,c_assoc_code,ASSOC_CODES,c_assoc_code,c_assoc_code,ASSOC_CODE_TYPE_REL_ASSOC_CODE,0,Primary Key,Integer,0
7,ASSOC_CODE_TYPE_REL,c_assoc_type_id,ASSOC_TYPES,c_assoc_type_id,c_assoc_type_id,ASSOC_CODE_TYPE_REL_ASSOC_TYPE,0,Primary Key,Text,0
8,ASSOC_CODES,c_assoc_pair2,ASSOC_CODES,c_assoc_code,c_assoc_code,ASSOC_CODES_ASSOC_PAIR,0,None,Integer,1
9,assoc_data,c_addr_id,ADDR_CODES,c_addr_id,c_addr_id,ASSOC_DATA_ADDR_ID,1,None,Long,1
10,assoc_data,c_assoc_claimer_id,BIOG_MAIN,c_personid,c_personid,ASSOC_DATA_CLAIMER_ID,0,None,Long,1
11,assoc_data,c_assoc_code,ASSOC_CODES,c_assoc_code,c_assoc_code,ASSOC_DATA_ASSOC_CODE,1,Primary,Long,0
12,assoc_data,c_assoc_day_gz,GANZHI_CODES,c_ganzhi_code,c_ganzhi_code,ASSOC_DATA_GANZHI,0,None,Integer,1
13,assoc_data,c_assoc_id,BIOG_MAIN,c_personid,c_personid,ASSOC_DATA_ASSOC_ID,1,Primary,Long,0
14,assoc_data,c_assoc_kin_code,KINSHIP_CODES,c_kin_code,c_kincode,ASSOC_DATA_ASSOC_KIN_CODE,1,Primary,Long,0
15,assoc_data,c_assoc_kin_id,BIOG_MAIN,c_personid,c_personid,ASSOC_DATA_ASSOC_KIN_ID,1,Primary,Long,0
16,assoc_data,c_assoc_nh_code,nian_hao,c_nianhao_id,c_nianhao_id,ASSOC_DATA_nian_hao,0,None,Integer,1
17,assoc_data,c_assoc_range,year_range_codes,c_range_code,c_range_code,ASSOC_DATA_year_range_code,0,None,Integer,1
18,assoc_data,c_inst_name_code,SOCIAL_INSTITUTION_NAME_CODES,c_inst_name_code,c_inst_name_code,ASSOC_DATA_SOCIAL_INSTITUTION_NAME_CODE,0,None,Integer,0
19,assoc_data,"c_inst_name_code,c_inst_code",SOCIAL_INSTITUTION_CODES,c_inst_code,"c_inst_name_code,c_inst_code",ASSOC_DATA_SOCIAL_INSTITUTION_CODE,0,None,Integer,0
20,assoc_data,c_kin_code,KINSHIP_CODES,c_kincode,c_kincode,ASSOC_DATA_KIN_CODE,0,Primary,Long,0
21,assoc_data,c_kin_id,BIOG_MAIN,c_personid,c_personid,ASSOC_DATA_KIN_ID,1,Primary,Long,0
22,assoc_data,c_litgenre_code,literarygenre_codes,c_lit_genre_code,c_lit_genre_code,ASSOC_DATA_literarygenre_code,0,None,Integer,1
23,assoc_data,c_occasion_code,OCCASION_CODES,c_occasion_code,c_occasion_code,ASSOC_DATA_OCCASION_CODE,0,None,Integer,1
24,assoc_data,c_personid,BIOG_MAIN,c_personid,c_personid,ASSOC_DATA_PERSON_ID,1,Primary,Long,0
25,assoc_data,c_source,TEXT_CODES,c_textid,c_textid,ASSOC_DATA_TEXT_CODE,0,None,Long,0
26,ASSOC_DATA,c_tertiary_personid,BIOG_MAIN,c_personid,c_personid,ASSOC_DATA_THIRD_PERSON_ID,0,None,Long,1
27,assoc_data,c_topic_code,SCHOLARLYTOPIC_CODES,c_topic_code,c_topic_code,ASSOC_DATA_SCHOLARLYTOPIC_CODE,0,None,Integer,1
28,biog_addr_data,c_addr_id,ADDR_CODES,c_addr_id,c_addr_id,BIOG_ADDR_DATA_ADDR_CODE,1,Primary,Long,0
29,biog_addr_data,c_addr_type,BIOG_ADDR_CODES,c_addr_type,c_addr_type,BIOG_ADDR_DATA_BIOG_ADDR_CODE,0,Primary,Integer,0
...,...,...,...,...,...,...,...,...,...,...
152,SOCIAL_INSTITUTION_CODES,c_inst_type_code,SOCIAL_INSTITUTION_TYPES,c_inst_type_code,c_inst_type_code,SOCIAL_INSTITUTION_CODES_SOCIAL_INSTITUTION_TY...,0,None,Integer,0
153,SOCIAL_INSTITUTION_CODES,c_source,TEXT_CODES,c_textid,c_textid,SOCIAL_INSTITUTION_CODES_SOURCE_TEXT_ID,0,None,Long,0
154,STATUS_CODE_TYPE_REL,c_status_code,STATUS_CODES,c_status_code,c_status_code,STATUS_CODE_TYPE_REL_STATUS_CODE,0,Primary Key,Integer,0
155,STATUS_CODE_TYPE_REL,c_status_type_code,STATUS_TYPES,c_status_type_code,c_status_type_code,STATUS_CODE_TYPE_REL_STATUS_TYPE,0,Primary Key,Text,0
156,status_data,c_fy_nh_code,nian_hao,c_nianhao_id,c_nianhao_id,STATUS_DATA_nian_hao_fy,0,None,Integer,1
157,status_data,c_fy_range,year_range_codes,c_range_code,c_range_code,STATUS_DATA_year_range_code_fy,0,None,Integer,1
158,status_data,c_ly_nh_code,nian_hao,c_nianhao_id,c_nianhao_id,STATUS_DATA_nian_hao_ly,0,None,Integer,1
159,status_data,c_ly_range,year_range_codes,c_range_code,c_range_code,STATUS_DATA_year_range_code_ly,0,None,Integer,1
160,status_data,c_personid,BIOG_MAIN,c_personid,c_personid,STATUS_DATA_PERSON_ID,1,Primary Key,Long,0
161,status_data,c_source,TEXT_CODES,c_textid,c_textid,STATUS_DATA_SOURCE_TEXT_ID,0,None,Long,1
162,status_data,c_status_code,STATUS_CODES,c_status_code,c_status_code,STATUS_DATA_STATUS_CODES,1,Primary Key,Integer,0
163,TEXT_BIBLCAT_CODE_TYPE_REL,c_text_cat_code,TEXT_BIBLCAT_CODES,c_text_cat_code,c_text_cat_code,TEXT_BIBLCAT_CODE_TYPE_REL_TEXT_CAT_CODE,1,Primary Key,Integer,0
164,TEXT_BIBLCAT_CODE_TYPE_REL,c_text_cat_type_id,TEXT_BIBLCAT_TYPES,c_text_cat_type_id,c_text_cat_type_id,TEXT_BIBLCAT_CODE_TYPE_REL_TEXT_CAT_TYPE,0,Primary Key,Text,0
165,TEXT_CODES,c_bibl_cat_code,TEXT_BIBLCAT_CODES,c_text_cat_code,c_text_cat_code,TEXT_CODES_TEXT_BIBLCAT_CODE,1,None,Integer,1
166,text_codes,c_extant,EXTANT_CODES,c_extant_code,c_extant_code,TEXT_CODES_EXTANT_CODE,0,None,Integer,1
167,text_codes,c_pub_country,COUNTRY_CODES,c_country_code,c_country_code,TEXT_CODES_COUNTRY_CODE_PUB,0,None,Integer,1
168,text_codes,c_pub_dy,DYNASTIES,c_dy,c_dy,TEXT_CODES_DYNASTY_PUB,0,None,Integer,1
169,text_codes,c_pub_nh_code,NIAN_HAO,c_nianhao_id,c_nianhao_id,TEXT_CODES_NIAN_HAO_PUB,0,None,Integer,1
170,text_codes,c_pub_range_code,YEAR_RANGE_CODES,c_range_code,c_range_code,TEXT_CODES_YEAR_RANGE_CODE_PUB,0,None,Integer,1
171,text_codes,c_source,TEXT_CODES,c_textid,c_textid,TEXT_CODES_SOURCE_TEXT_ID,1,None,Long,1
172,text_codes,c_text_country,COUNTRY_CODES,c_country_code,c_country_code,TEXT_CODES_COUNTRY_CODE_TEXT,0,None,Integer,1
173,text_codes,c_text_dy,DYNASTIES,c_dy,c_dy,TEXT_CODES_DYNASTY_TEXT,0,None,Integer,1
174,text_codes,c_text_nh_code,NIAN_HAO,c_nianhao_id,c_nianhao_id,TEXT_CODES_NIAN_HAO_TEXT,0,None,Integer,1
175,text_codes,c_text_range_code,YEAR_RANGE_CODES,c_range_code,c_range_code,TEXT_CODES_YEAR_RANGE_CODE_TEXT,0,None,Integer,1
176,TEXT_DATA,c_nh_code,NIAN_HAO,c_nianhao_code,c_nianhao_id,TEXT_DATA_NIAN_HAO,0,None,Integer,1
177,TEXT_DATA,c_personid,BIOG_MAIN,c_personid,c_personid,TEXT_DATA_PERSON_ID,1,Primary Key,None,0
178,TEXT_DATA,c_range_code,YEAR_RANGE_CODES,c_range_code,c_range_code,TEXT_DATA_YEAR_RANGE_CODE,0,None,Integer,1
179,TEXT_DATA,c_role_id,TEXT_ROLE_CODES,c_role_id,c_role_id,TEXT_DATA_TEXT_ROLE_CODE,0,Primary Key,Integer,0
180,TEXT_DATA,c_source,TEXT_CODES,c_textid,c_textid,TEXT_DATA_SOURCE_TEXT_ID,0,None,Long,0
181,TEXT_DATA,c_textid,TEXT_CODES,c_textid,c_textid,TEXT_DATA_TEXT_ID,1,Primary Key,None,0